.contenitore-1 {
    width: 700px;
    height: 200px;
    margin: auto;
    border-bottom: 3px;
    border-style: solid;
    border-color: rgb(209, 177, 0);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.contenitore-1 {
    background-color: rgba(115, 115, 115, 0.18);
}

img {
    height: 125px;
    width: 125px;
    padding-left: 285px;
}

.titolo {
    padding-left: 200px;
}

.contenitore-2 {
    width: 700px;
    height: 550px;
    margin: auto;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(209, 177, 0);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.contenitore-2 {
    background-color: rgba(0, 255, 255, 0);
}

.contenuto-1 {
    color: rgb(209, 177, 0);
}

.contenuto-2 {
    font-style: italic;
}

.contenuto-3 {
    padding-left: 660px;
    font-size: small;
}



    