.contenitore {
    width: 700px;
    height: 200px;
    margin: auto;
    border-bottom: 3px;
    border-style: solid;
    border-color: gold;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.contenitore {
    background-color: rgba(115, 115, 115, 0.18);
}